<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbeauty.gbt.dao.RecruitMapper">

    <resultMap id="recruitListResultMap" type="com.kbeauty.gbt.entity.domain.Recruit">
        <result property="seq" column="seq" />
        <result property="recruitId" column="recruitid" />
        <result property="recruitType" column="recruittype" />
        <result property="title" column="title" />
        <result property="active" column="active" />
        <result property="content" column="content" />
        <result property="status" column="status" />
        <result property="depth" column="depth"/>
        <result property="userId" column="userid" />
    </resultMap>

    <resultMap id="PremiumResultMap" type="com.kbeauty.gbt.entity.domain.Premium">
        <result property="userId" column="userid"/>
        <result property="userName" column="username"/>
        <result property="premiumYn" column="premiumyn"/>
        <result property="premiumStart" column="premiumstart"/>
        <result property="premiumEnd" column="premiumend"/>
        <result property="userId" column="userid" />
        <result property="premiumYn" column="premiumyn" />
        <result property="premiumStart" column="premiumstart" />
        <result property="premiumEnd" column="premiumend" />
    </resultMap>

    <select id="getRecruitList" parameterType="com.kbeauty.gbt.entity.view.RecruitCondition"
            resultMap="recruitListResultMap">
        select * from RECRUIT

        <![CDATA[
        where path < #{path} and depth = 0
        ]]>

        <if test='delYn == null'>
            and delyn is null
        </if>

        <if test="delYn != null">
            and delyn = #{delYn}
        </if>

        <if test='recruitType != null &amp;&amp; !"".equals(recruitType)'>
            and recruittype = #{recruitType}
        </if>

        <if test='title != null &amp;&amp; !"".equals(title)'>
            and title = #{title}
        </if>

        <if test='searchUserName != null &amp;&amp; !"".equals(searchUserName)'>
            and userid = (SELECT userid FROM USER WHERE username = #{searchUserName})
        </if>

        <if test='status != null &amp;&amp; !"".equals(status)'>
            and status = #{status}
        </if>

        limit #{pageStart}, #{perPageNum}
    </select>


    <select id="getPremiumByList" parameterType="com.kbeauty.gbt.entity.view.RecruitByCondition"
            resultMap="PremiumResultMap">
        SELECT A.recruitid,A.userid,B.premiumyn,B.premiumstart,B.premiumend,C.username
        FROM RECRUIT A, PREMIUM B ,USER C
        WHERE A.userid = B.userid

        <if test='userName != null &amp;&amp; !"".equals(userName)'>
            and C.username like CONCAT(#{userName},'%')
        </if>

        AND B.userid = C.userid
        AND B.premiumyn = 'Y'
        ORDER BY(
        CASE WHEN DATE(B.premiumstart) &lt; DATE(NOW()) AND DATE(B.premiumend) >= DATE(NOW()) THEN 1
        ELSE 2
        END)
</select>

    <select id="getPremiumByListCnt" parameterType="com.kbeauty.gbt.entity.view.RecruitByCondition"
            resultType="java.lang.Integer">
        SELECT count(*)
        FROM PREMIUM A, USER B
        WHERE A.userid = B.userid

        <if test='userName != null &amp;&amp; !"".equals(userName)'>
            and B.username like CONCAT(#{userName},'%')
        </if>
</select>


    <select id="getRecruitListCnt" parameterType="com.kbeauty.gbt.entity.view.RecruitCondition"
            resultType="java.lang.Integer">
        SELECT count(*) from RECRUIT

        where  depth = 0

        <if test='delYn == null'>
            and delyn is null
        </if>

        <if test="delYn != null">
            and delyn = #{delYn}
        </if>

        <if test='recruitType != null &amp;&amp; !"".equals(recruitType)'>
            and recruittype = #{recruitType}
        </if>

        <if test='title != null &amp;&amp; !"".equals(title)'>
            and title = #{title}
        </if>

        <if test='searchUserName != null &amp;&amp; !"".equals(searchUserName)'>
            and userid = (SELECT userid FROM USER WHERE username = #{searchUserName})
        </if>

        <if test='status != null &amp;&amp; !"".equals(status)'>
            and status = #{status}
        </if>


    </select>

    <select id ="resourcesFile"  resultType="com.kbeauty.gbt.entity.domain.Resources">
        SELECT * FROM RESOURCES WHERE NOT filename IS NULL
    </select>

    <select id="getRecruitSeq" resultType="java.lang.Long">
        SELECT `nextval`('recruit');
    </select>


</mapper>